.*
target
bin
test-output
*.versionsBackup
nbproject
*.iml
out
*.orig
build
*.log
/xmpp/src/test/resources/google-authdata.properties
login.properties
options/src/main/java/ds2/oss/core/base/*
options-it/src/main/java/ds2/oss/core/base/*
options-it/src/main/java/ds2/oss/core/options/impl/entities/*
options-it/src/main/java/ds2/oss/core/options/internal/*
classes
